@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;
  }

  /* Dark mode - currently both root and dark colors are the dark one of neutral mode 
     To use dark mode - we'd need to use next-themes with a ThemeProvider and set the theme to dark
  */
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* solana wallet adaptor custom styles */
.wallet-adapter-button {
  height: 35px !important;
  color: white !important;
  background-color: rgb(39, 38, 38) !important;
  border: 1px;
}

.wallet-adapter-button:hover {
  background-color: rgb(70, 70, 70) !important;
}

.wallet-adapter-modal-title {
  background-color: rgb(39, 38, 38) !important;
  border-radius: 10px !important;
  color: white !important;
}

.wallet-adapter-modal-wrapper {
  background-color: rgb(39, 38, 38) !important;
  padding-bottom: 20px;
}

.wallet-adapter-modal-button-close {
  background-color: rgb(39, 38, 38) !important;
}

.wallet-adapter-dropdown-list {
  background-color: rgb(39, 38, 38) !important;
}

.wallet-adapter-dropdown-list-item {
  color: white !important;
}

.wallet-adapter-dropdown-list-item:hover {
  color: white !important;
  background-color: rgb(12, 12, 12) !important;
}

/* Implement a custom scrollbar to preventing ugly looking scroll-overflows */
::-webkit-scrollbar {
  background-color: #222;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
}
